.loader {
    position: fixed;
    /* left: 37%;
    top: 25%;   */
    width: 100%;
    height: 100%;
    z-index: auto;
    background-color: black !important;
    color: black;
    opacity: 1 !important;
}
